@import "foundation";

#event-name {
	display: run-in;
}

.event-header {
	margin: -10px -10px 10px -10px;
	height: 350px;
	background-size: cover;
	background-position:center;
}

.guest {
	@include panel;
	padding: 0;
}